<table>
    <tbody>
        <tr>
            <td colspan="2"><strong>Minecraft Server Configuration</strong></td>
        </tr>
        {{range $key, $data := .MinecraftServerConfig}}
        <tr>
            <td>{{$key}}</td>
            <td>
                <form hx-post="/settings/set" 
                      hx-trigger="blur from:input[type='text']" 
                      hx-swap="none">
                    {{if eq $data.type "bool"}}
                    <select class="select select-neutral" name="value"
                            hx-post="/properties/set" 
                            hx-include="previous input[name='propertie']" 
                            hx-trigger="change">
                        <option value="true" {{if eq $data.value "true"}}selected{{end}}>true</option>
                        <option value="false" {{if eq $data.value "false"}}selected{{end}}>false</option>
                    </select>
                    {{else if eq $data.type "int"}}
                    <input class="input input-neutral" type="number" name="value" value="{{$data.value}}" step="1"
                           hx-post="/properties/set" 
                           hx-include="previous input[name='propertie']" 
                           hx-trigger="blur"
                           onkeydown="if(event.key === 'Enter') this.blur()">
                    {{else if eq $data.type "float"}}
                    <input class="input input-neutral" type="number" name="value" value="{{$data.value}}" step="0.01"
                           hx-post="/properties/set" 
                           hx-include="previous input[name='propertie']" 
                           hx-trigger="blur"
                           onkeydown="if(event.key === 'Enter') this.blur()">
                    {{else}}
                    <input class="input input-neutral" type="text" name="value" placeholder="{{$data.value}}" value="{{$data.value}}"
                           hx-post="/properties/set" 
                           hx-include="previous input[name='propertie']" 
                           hx-trigger="blur"
                           onkeydown="if(event.key === 'Enter') this.blur()">
                    {{end}}
                </form>
            </td>
        </tr>
        {{end}}
        
        <tr>
            <td colspan="2"><strong>Web App Configuration</strong></td>
        </tr>
        {{range $key, $data := .WebAppConfig}}
        <tr>
            <td style="padding-left: 20px;">{{$key}}</td>
            <td>
                <form hx-post="/settings/set" 
                      hx-trigger="blur from:input[type='text']" 
                      hx-swap="none">
                    {{if eq $data.type "bool"}}
                    <select class="select select-neutral" name="value"
                            hx-post="/properties/set" 
                            hx-include="previous input[name='propertie']" 
                            hx-trigger="change">
                        <option value="true" {{if eq $data.value "true"}}selected{{end}}>true</option>
                        <option value="false" {{if eq $data.value "false"}}selected{{end}}>false</option>
                    </select>
                    {{else if eq $data.type "int"}}
                    <input class="input input-neutral" type="number" name="value" value="{{$data.value}}" step="1"
                           hx-post="/properties/set" 
                           hx-include="previous input[name='propertie']" 
                           hx-trigger="blur"
                           onkeydown="if(event.key === 'Enter') this.blur()">
                    {{else if eq $data.type "float"}}
                    <input class="input input-neutral" type="number" name="value" value="{{$data.value}}" step="0.01"
                           hx-post="/properties/set" 
                           hx-include="previous input[name='propertie']" 
                           hx-trigger="blur"
                           onkeydown="if(event.key === 'Enter') this.blur()">
                    {{else}}
                    <input class="input input-neutral" type="text" name="value" placeholder="{{$data.value}}" value="{{$data.value}}"
                           hx-post="/properties/set" 
                           hx-include="previous input[name='propertie']" 
                           hx-trigger="blur"
                           onkeydown="if(event.key === 'Enter') this.blur()">
                    {{end}}
                </form>
            </td>
        </tr>
        {{end}}
    </tbody>
</table>