<table>
    <tbody>
        {{range $key, $data := .}}
        <tr>
            <td>{{$key}}</td>
            <td>
                <input type="hidden" name="property" value="{{$key}}">
                
                {{if eq $data.type "bool"}}
                    <select class="select select-neutral" name="value"
                            hx-post="/properties/set" 
                            hx-include="previous input[name='property']" 
                            hx-trigger="change">
                        <option value="true" {{if eq $data.value "true"}}selected{{end}}>true</option>
                        <option value="false" {{if eq $data.value "false"}}selected{{end}}>false</option>
                    </select>
                {{else if eq $data.type "int"}}
                    <input class="input input-neutral" type="number" name="value" value="{{$data.value}}" step="1"
                           hx-post="/properties/set" 
                           hx-include="previous input[name='property']" 
                           hx-trigger="blur"
                           onkeydown="if(event.key === 'Enter') this.blur()">
                {{else if eq $data.type "float"}}
                    <input class="input input-neutral" type="number" name="value" value="{{$data.value}}" step="0.01"
                           hx-post="/properties/set" 
                           hx-include="previous input[name='property']" 
                           hx-trigger="blur"
                           onkeydown="if(event.key === 'Enter') this.blur()">
                {{else if eq $key "difficulty"}}
                    <select class="select select-neutral" name="value"
                            hx-post="/properties/set" 
                            hx-include="previous input[name='property']" 
                            hx-trigger="change">
                        <option value="peaceful" {{if eq $data.value "peaceful"}}selected{{end}}>peaceful</option>
                        <option value="easy" {{if eq $data.value "easy"}}selected{{end}}>easy</option>
                        <option value="normal" {{if eq $data.value "normal"}}selected{{end}}>normal</option>
                        <option value="hard" {{if eq $data.value "hard"}}selected{{end}}>hard</option>
                    </select>
                {{else if eq $key "gamemode"}}
                    <select class="select select-neutral" name="value"
                            hx-post="/properties/set" 
                            hx-include="previous input[name='property']" 
                            hx-trigger="change">
                        <option value="survival" {{if eq $data.value "survival"}}selected{{end}}>survival</option>
                        <option value="spectator" {{if eq $data.value "spectator"}}selected{{end}}>spectator</option>
                        <option value="creative" {{if eq $data.value "creative"}}selected{{end}}>creative</option>
                        <option value="adventure" {{if eq $data.value "adventure"}}selected{{end}}>adventure</option>
                    </select>
                {{else}}
                    <input class="input input-neutral" type="text" name="value" placeholder="{{$data.value}}" value="{{$data.value}}"
                           hx-post="/properties/set" 
                           hx-include="previous input[name='property']" 
                           hx-trigger="blur"
                           onkeydown="if(event.key === 'Enter') this.blur()">
                {{end}}
            </td>
        </tr>
        {{end}}
    </tbody>
</table>